.vagrant/
vendor/
dist/
node_modules/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
composer.lock
package-lock.json
nbproject
._*
.~lock.*
.buildpath
.idea
.project
.settings
.sass-cache
.DS_Store
Thumbs.db
*.p12
*.pdf
*.psd
!.gitignore
